name: probar text

on:
  push:
    branches: [main, test]
  pull_request:
    branches: [main, test]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 'Hello World'
        run: echo 'Hello World!'
      - name: 'Dime la fecha'
        run: date
      - name: 'Muestra el contenido del directorio'
        run: ls -la
